<h1>Customers List</h1>

<p id="notice"><%= notice %></p>

<table>
	<tr>
		<th>Customer ID</th>
		<th>Customer Name</th>
		<th colspan="3">Available Actions</th>
	</tr>

	<% if !@customers.blank? %>
		<% @customers.each do |customer| %>
			<tr>
				<td><%= customer.id %></td>
				<td><%= customer.name.blank? ?  "Unnamed" : customer.name %></td>
				<td><%= link_to 'Show', customer %></td>
				<td><%= link_to 'Edit', edit_customer_path(customer) %></td>
				<td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
			</tr>
		<% end %>
	<% end %>

	<tr>
		<td><%= link_to "new customer", new_customer_path %></td>
		<td colspan="4">to create new customer</td>
	</tr>
</table>

